---
layout: archive
title: "Portfolio 👨🏻‍💻"
permalink: /portfolio/
author_profile: true
---
<!-- {% include base_path %} -->
 
<section>
  <h2>
    <a href="https://github.com/garrett-lam/CreditSync" target="_blank">CreditSync</a>
  </h2>
  <p>
    AWS-powered ETL data pipeline to synchronize credit card transactions data
  </p>
</section>

<section>
  <h2>
    <a href="https://github.com/garrett-lam/CancerHistopathologyCNN" target="_blank">CancerHistopathologyCNN</a>
  </h2>
  <p>
    Optimizing CNN Architectures: Comparative Study of Activation Functions and Pooling Methods on Histopathological Image Analysis
    (<a href="https://drive.google.com/file/d/1ckHMQ1iliQAhXdR8RIX_t7ZVHiCOMLs-/view?usp=share_link" target="_blank">Project Report</a>)
  </p>
</section>

<section>
  <h2>
    <a href="https://github.com/garrett-lam/scRNAseq_filterQC" target="_blank">scRNAseqFilterQC</a>
  </h2>
  <p>
    Python command-line tool to streamline the process of quality control filtering of scRNA-seq data in Scanpy
    (<a href="https://drive.google.com/file/d/1XgOW-6e421SOSL-6hSqZFMLKK-e-w1ON/view?usp=sharing" target="_blank">Project Report</a>)
  </p>
</section>

<section>
  <h2>
    <a href="https://github.com/garrett-lam/BC_survival_prognosis" target="_blank">Clinical Predictive Modeling for Breast Cancer Patient Survival</a>
  </h2>
  <p>
    Application of machine learning algorithms such as Logistic Regression, Random Forest, Support Vector Classifier, and Neural Networks to identify high-risk patients and improve the prognosis of breast cancer patients
    (<a href="https://drive.google.com/file/d/1hlVYNKhq6SmR6ae3ICVhaY4KqdgZLumE/view?usp=sharing" target="_blank">Project Report</a>)
  </p>
</section>

<!-- {% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %} -->

